<div flex-col>
  <div id="manage-admins">
    <mat-card>
      <mat-card-title>
        {{ 'Manage Admins' | translate }}
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="width-100">
          <input matInput [placeholder]="'Filter' | translate" [(ngModel)]="filter">
        </mat-form-field>

        <mat-list>
          <mat-list-item *ngFor="let user of filteredUsers()">
            <div flex class="width-100">
              <span stretch>{{ user.username }} ({{ user.name }})</span>
              <button mat-icon-button (click)="edit(user)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="remove(user)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions flex>
        <span stretch></span>
        <button mat-flat-button color="primary" (click)="addUser()">
          {{ 'Add' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
